# ===== Keil MDK 构建产物 =====
# 输出目录
Objects/
Listings/
OutPut/
obj/
*.uvguix.*
*.uvoptx
*.bak

# 编译中间文件
*.o
*.d
*.crf
*.dep
*.axf
*.lnp
*.sct
*.htm
*.build_log.htm

# 烧录/链接产物（如需要可提交固件则删掉这几行）
*.hex
*.bin
*.elf

# ===== 日志与临时文件 =====
*.log
JLinkLog.txt
JLinkSettings.ini
*.tmp
*.swp
